@model List<Lemoo_pos.Models.ViewModels.TopProductViewModel>
    <div class="col-8">
       
        <div class="card card-block card-height">
            <div
                class="card-header d-flex align-items-center justify-content-between"
            >
                <div class="header-title">
                    <h4 class="card-title">Sản phẩm nổi bật</h4>
                </div>
            </div>
         @foreach (var product in Model) {
             <li class="col-lg-3" style="min-width: 100px;">
                            <div
                                class="card card-block  card-height mb-0"
                            >
                                <div class="" >
                                    <div class="rounded" style="overflow: hidden">
                                        <img
                                            src="@product.Image"
                                            class="style-img img-fluid m-auto"
                                            alt="image"
                                        />
                                    </div>
                                    <div
                                        class="my-3"
                                        style="color: black; padding: 0 20px"
                                    >
                                        <p
                                            class=""
                                            style="
                                                color: black;
                                                text-align: center;
                                                margin-bottom: 20px;
                                                font-size: 18px;
                                                font-weight: 600;
                                            "
                                        >
                                            @product.Name
                                        </p>
                                        <div style="font-size: 14px">
                                            <p class="mb-0" style="color: black">
                                                Biến thể: @product.VariantName
                                            </p>
                                            <p class="mb-0">
                                                Số lượng bán: @product.TotalSale
                                            </p>
                                            <p
                                                class="mb-0"
                                                id="store-overview-revenue-@product.Id"
                                                data-value="@product.Revenue"
                                            >
                                                Doanh thu:
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
        }
        </div>
    </div>


<script>
    // const formatMoney = (money) => {
    //     return new Intl.NumberFormat("vi-VN", {
    //         style: "currency",
    //         currency: "VND",
    //     }).format(money);
    // };

    const elements = [];
    @foreach (var product in Model)
    {
        @: elements.push(document.getElementById('store-overview-revenue-@product.Id'))
    }

    elements.forEach(element => {
        element.textContent =`Doanh thu: ${formatMoney(element.dataset["value"])}`
    })
</script>
